# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# SQLite database
*.db
*.sqlite3

# VS Code settings (optional)
.vscode/

# macOS
.DS_Store

# Logs
*.log

#Audio uploads
/uploads

#Google STT API json file
/sensitive-credentials
sensitive-credentials/echonote-api-key.json
