<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}EchoNote{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>
        <div class="container">
            <div class="app-wrapper">
                {% include "navbar.html" %}
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <script>
            window.isAuthenticated = {{ current_user.is_authenticated|tojson }};
            window.currentUser = {{ current_user.get_id() |tojson }};
        </script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>